var config = {};

config.reddit = {};
config.fb = {};
config.mongodb = {};

config.reddit.id = "<reddit_app_id>";
config.reddit.secret = "<app_secret>";
config.reddit.password = "<reddit_account_pass>";
config.reddit.subName = 'europe'
config.reddit.scoreThreshold = 500;

config.fb.id = "<fb_app_id>";
config.fb.secret = "<fb_app_secret>";

config.mongodb.url = "<mongodb_url>";
config.mongodb.collectionName = "sent_submissions";

module.exports = config;
